<?php
/**
 *
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $title_for_layout; ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		echo $this->Html->css('cake.generic');

		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
	?>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1><?php echo $this->Html->link($cakeDescription, 'http://cakephp.org'); ?></h1>
		</div>
		<div id="content">

			<?php echo $this->Session->flash(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
			<ul>
				<li>
					<a href="<?php echo $this->Html->url('/users/login');?>">login</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/users/logout');?>">logout</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/groups');?>">groups</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/posts');?>">posts</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/users');?>">users</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/widgets');?>">widgets</a>
				</li>
				<li>
					<a href="<?php echo $this->Html->url('/acl_manager/acl');?>">acl</a>
				</li>


			</ul>
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
